<!DOCTYPE html>

<html lang="es">

<head>
	<meta charset="UTF-8">
	<title>{% block title %}App de Productividad{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<header>
		<h1>App de productividad</h1>
		{% if current_user.is_authenticated %}
  		<form action="{{ url_for('auth.logout') }}" method="get" style="display:inline;">
    		<button class="logout" type="submit">Cerrar sesión</button>
  		</form>
		{% endif %}
	</header>

	<main>
		{% block content %}{% endblock %}
	</main>
</body>
</html>
